# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.log

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Editor
.vscode/
.idea/
*.sublime-*

# Dependencies
/node_modules/
/bower_components/
